/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-1dxqbqp1re] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-1dxqbqp1re] {
  color: #0077cc;
}

.btn-primary[b-1dxqbqp1re] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-1dxqbqp1re], .nav-pills .show > .nav-link[b-1dxqbqp1re] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-login[b-1dxqbqp1re] {
    margin-left: auto;
}

.nav-link-login[b-1dxqbqp1re] {
    background: #013D42;
    border-radius: 15px;
    padding: 5px 20px !important;
    font-weight: bold;
    transition: all 0.3s ease;
}

.nav-link-login:hover[b-1dxqbqp1re] {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(230, 230, 231, 0.4);
}

.border-top[b-1dxqbqp1re] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-1dxqbqp1re] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-1dxqbqp1re] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-1dxqbqp1re] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-1dxqbqp1re] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
